.ionContent{
    --background: #B1BAC0;
}

.ionToolbar{
    --color: rgb(0, 0, 0);
    --background: #E9E9E9;
}

.ionItem{
    --background: rgb(255, 255, 255);
    --color: rgb(0, 0, 0);
    --highlight-height: 0;
    --border-width: 0;
}

.ionGrid{
    --color: rgb(255, 255, 255);
}

.ionButton{
    --background: #F37321;
}

.container2  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container1{
    text-align: center;
}

.rowcoloring1{
    background: #E9E9E9;
    color: rgb(0, 0, 0);
    margin-bottom: 5pt;
}

.ionRowColoring:nth-child(even){
    background: rgb(108, 106, 106);
    color: white;
    margin-bottom: 5pt;
}
.ionRowColoring:nth-child(odd){
    background: #E9E9E9;
    color: black;
    margin-bottom: 5pt;
}