ion-content{
    --background: #B1BAC0;
}

ion-card{
    --background: #E9E9E9;
    --width: 200;
}

ion-item{
    --background: rgb(255, 255, 255);
    --color: rgb(0, 0, 0);
    --highlight-height: 0;
    --border-width: 0;
}


ion-button{
    --background: #F37321;
}

.imageContainer{
    text-align: center;
}