.ionContent{
    --background: #B1BAC0;
}

.ionCard{
    --background: #E9E9E9;
    --width: 200;
}

.ionItem{
    --background: rgb(255, 255, 255);
    --color: rgb(0, 0, 0);
    --highlight-height: 0;
    --border-width: 0;
}


.ionButton{
    --background: #F37321;
}

.imageContainer{
    text-align: center;
}